.movies-card-list {
  padding: 80px 70px 10px;
  max-width: 1280px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.movies-card-list__container {
  width: 100%;
  justify-content: center;
  display: grid;
  column-gap: 24px;
  row-gap: 37px;
  grid-template-columns: repeat(auto-fit, minmax(364px, max-content));
  grid-auto-rows: 281px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 918px) {
  .movies-card-list {
    padding-right: 30px;
    padding-left: 30px;
  }
  .movies-card-list__container {
    column-gap: 30px;
    row-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(339px, max-content));
    grid-auto-rows: 262px;
  }
}

@media screen and (max-width: 520px) {
  .movies-card-list {
    padding-right: 10px;
    padding-left: 10px;
  }

  .movies-card-list__container {
    row-gap: 14px;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    grid-auto-rows: 237px;
  }
}