.movies-card-list {
  padding: 80px 0 0;
  max-width: 1280px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.movies-card-list__container {
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  display: grid;
  column-gap: 24px;
  row-gap: 37px;
  grid-template-columns: repeat(3, minmax(339px,364px));
  list-style: none;
  margin: 0;
  padding: 0 0 10px 0;
}

.movies-card-list__button-more-movies {
  padding: 11px 107px 9px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.3s;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 500;
  max-width: 320px;
  border: none;
  border: 1px solid #E8E8E8;
  border-radius: 7px;
  box-sizing: border-box;
  outline: none;
  margin-top: 50px;
  margin-bottom: 80px;
}

.movies-card-list__button-more-movies:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1210px) {
  .movies-card-list__container {
    column-gap: 30px;
    row-gap: 30px;
    grid-template-columns: repeat(2, minmax(300px,364px));
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 690px) {
  .movies-card-list__container {
    row-gap: 14px;
    grid-template-columns: minmax(300px,364px);
    padding-bottom: 26px;
  }
  .movies-card-list {
    padding-top: 50px;
  }
}