.profile {
  display: flex;
  max-width: 410px;
  box-sizing: border-box;
  opacity: 1;
  min-height: calc(100% - 74px);
}

@media screen and (max-height: 350px) {
  .profile {
    min-height: calc(100% - 56px);
  }
}
