.error-popup {
  visibility: hidden;
  opacity: 0;
  transition: all .35s ease-in-out;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  background-color: #DDDEE3;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  width: 430px;
  padding: 18px 21px;
  margin: 0;
  box-sizing: border-box;
  z-index: 3;
}

.error-popup_opened {
  visibility: visible;
  opacity: 1;
  margin: 0;
}

.error-popup__title {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.21;
  margin: 0;
  padding: 0;
}

.error-popup__text {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.21;
  margin: 0;
  padding: 5px 0 0;
  text-align: center;
}

@media screen and (max-width: 468px) {
  .error-popup {
    width: calc(100% - 60px);
    padding: 12px 16px;
  }

  .error-popup__title {
    font-size: 11px;
    line-height: 1.24;
  }
}
