.form {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, max-content) 1fr;
}

.form__field {
  padding: 0;
  width: 100%;
  max-width: 410px;
  margin: 0 0 1px;
  font-family: inherit;
  border: none;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.form__input-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #E8E8E8;
}

.form__placeholder {
  font-family: inherit;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.21;
  color: #000;
  padding-right: 50px;
  margin: 0;
  background-color: transparent;
  white-space: nowrap;
}

.form__input {
  font-size: 11px;
  font-weight: 400;
  line-height: 1.21;
  border: none;
  font-family: inherit;
  box-sizing: border-box;
  text-align: right;
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.form__input-container_focused {
  border-bottom: 1px solid #3456F3;
}

.form__input:focus {
  outline: none;
}

.form__input-container_place_profile {
  border-bottom: none;
  padding-bottom: 0;
}

.form__input_type_error {
  color: #EE3465;
}

.form__input-error{
  /* visibility: hidden; */
  font-size: 10px;
  width: 100%;
  font-weight: 400;
  line-height: 1.21;
  font-family: inherit;
  color: #EE3465;
  padding-top: 6px;
  margin-bottom: 5px;
  box-sizing: border-box;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.form__input-error_active {
  display: flex;
  visibility: visible;
  opacity: 1;
}


