.not-found {
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background-color: #fff;
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(2, min-content) 1fr;
  padding: 246px 0 60px;
  color: #000;
}

.not-found__title {
  font-size: 140px;
  line-height: 1.21;
  font-weight: 400;
  margin: 0;
}

.not-found__text {
  padding-top: 5px;
  font-size: 16px;
  line-height: 1.21;
  font-weight: 400;
  color: #000;
  margin: 0;
  text-align: center;
}

.not-found__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  color: #3456f3;
  text-decoration: none;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
  justify-self: center;
  align-content: end;
  align-self: end;
  margin: 30px 0 0;
}

.not-found__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 918px) {
  .not-found {
    padding-top: calc(408 * 100vh / 1024);
    padding-bottom: calc(222 * 100vh / 1024);
  }
}

@media screen and (max-width: 520px) {
  .not-found {
    padding-top: calc(329 * 100vh / 780);
    padding-bottom: 30px;
  }
  .not-found__title {
    font-size: 80px;
  }
  .not-found__text {
    padding-top: 10px;
    font-size: 12px;
  }
  .not-found__link {
    font-size: 12px;
  }
}

@media screen and (max-height: 520px) {
  .not-found {
    padding-top: 48px;
  }
}
