@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts/fonts.css);

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page {
  font-family: 'Inter', sans-serif, Arial;
  background-color: #fafafa;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  position: relative;
}

.page__container {
  margin: 0 auto;
}

.theme-dark {
  background-color: #DDDEE3;
}

.theme-gray {
  background-color: #f5f5f5;
}

.theme-footer {
  background-color: #f8f8f8;
}

.appear {
  animation: appear 0.5s ease-in-out;
  animation-fill-mode: both;
}

.overlay {
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  background-color: rgba(0,0,0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.overlay_active {
  visibility: visible;
  opacity: 1;
}

.title {
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  margin: 0;
}

.subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.21;
  width: 100%;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
  margin: 0;
  letter-spacing: -.04em;
}

.text {
  font-size: 14px;
  line-height: 1.43;
  font-weight: 400px;
  margin: 0;
}

.caption {
  font-size: 13px;
  line-height: 1.21;
  font-weight: 400;
  margin: 0;
}

.btn-close {
  background-color: transparent;
  cursor: pointer;
  transition: opacity .3s;
  padding: 0;
  border: none;
  outline: none;
  position: relative;
}

.btn-close:hover {
  opacity: 0.6;
}

.btn-close_place_navigation {
  width: 22px;
  height: 22px;
  display: none;
  justify-self: end;
}

.btn-close_place_saved-movies {
  width: 7px;
  height: 7px;
  display: none;
  justify-self: end;
  margin-top: 4.5px;
  margin-right: 11.5px;
}

.btn-close_place_navigation::before, .btn-close_place_navigation::after {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  width: 3px;
  height: 100%;
  background-color: #000;
}

.btn-close_place_saved-movies::before, .btn-close_place_saved-movies::after {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  width: 1px;
  height: 100%;
  background-color: #000;
}

.btn-close::before {
  transform: rotate(45deg);
}

.btn-close::after {
  transform: rotate(-45deg);
}

.btn-close_active {
  display: flex;
}

.btn-close_place_navigation:hover {
  opacity: 0.6;
}

@media screen and (max-width: 918px) {
  .title {
    font-size: 40px;
    line-height: 1.25;
  }

  .text {
    font-size: 12px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 520px) {
  .title {
    font-size: 30px;
    line-height: 1.26;
  }

  .subtitle {
    font-size: 18px;
  }

  .text {
    font-size: 11px;
    line-height: 1.45;
  }
}