@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts/fonts.css);

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page {
  font-family: 'Inter', sans-serif, Arial;
  background-color: #fafafa;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  position: relative;
}

.page__container {
  margin: 0 auto;
  max-width: 1140px;
}

.page_place_main-top {
  background-color: #DDDEE3;
}

.appear {
  animation: appear 0.5s ease-in-out;
  animation-fill-mode: both;
}

.title {
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
}

.subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: -4%;
}

.text {
  font-size: 14px;
  line-height: 1.43;
  font-weight: 400px;
}

.caption {
  font-size: 13px;
  line-height: 1.21;
}

.btn-close {
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url('../../images/close-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transform: rotate(90deg);
  transition: opacity .3s;
  padding: 0;
}

.btn-close:hover {
  opacity: 0.6;
}

.btn-close_place_header {
  width: 22px;
  height: 22px;
  display: none;
  justify-self: end;
}

.btn-close_active {
  display: grid;
}

.btn-close_place_header:hover {
  opacity: 0.6;
}

@media screen and (max-width: 918px) {
  .title {
    font-size: 40px;
    line-height: 1.25;
  }

  .text {
    font-size: 12px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 520px) {
  .title {
    font-size: 30px;
    line-height: 1.26;
  }

  .subtitle {
    font-size: 18px;
  }

  .text {
    font-size: 11px;
    line-height: 1.45;
  }
}