@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts/fonts.css);

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page {
  font-family: 'Inter', sans-serif, Arial;
  background-color: #fafafa;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
}

.page__container {
  margin: 0 auto;
  max-width: 1140px;
}

.page_place_main-top {
  background-color: #DDDEE3;
}

.appear {
  animation: appear 0.5s ease-in-out;
  animation-fill-mode: both;
}
