.movies-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 6px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  overflow: hidden;
}

.movies-card__image {
  width: 100%;
  height: 203px;
  border-radius: 10px 10px 0 0;
  object-position: center;
  object-fit: cover;
}

.movies-card__description {
  padding: 16px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}

.movies-card__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.movies-card__title {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.21;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 17px;
}

.movies-card__duration {
  font-size: 11px;
  font-weight: 400;
  color: #a0a0a0;
  line-height: 1.21;
}

.movies-card__btn-like {
  background-image: url('../../../images/like-icon.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-color: inherit;
  width: 15px;
  height: 12px;
  transition: opacity .1s;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin-top: 3px;
  margin-right: 8px;
}

.movies-card__btn-like_active {
  background-image: url('../../../images/liked-icon.svg');
}

.cards__btn-like:hover {
  opacity: 0.5;
  transform: scale(1.07);
}



@media screen and (max-width: 918px) {
  .movies-card__image {
    height: 190px;
  }
  .movies-card__title {
    padding-bottom: 15px;
  }
  .movies-card__description {
    padding: 14px;
  }

}

@media screen and (max-width: 520px) {
  .movies-card__image {
    height: 168px;
  }
  .movies-card__title {
    font-size: 12px;
    padding-bottom: 14px;
  }
  .movies-card__duration {
    font-size: 10px;
  }
}