.navigation__logo-account {
  margin-left: 13px;
  width: 30px;
  height: 30px;
  object-fit: contain;
  object-position: center;
}

.navigation {
  display: flex;
  width: 100%;
}

.navigation__container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.navigation__container_type_column {
  background-color: rgba(255, 255, 255, 1);
  height: 100%;
  padding: 22px 22px 92px;
  max-width: 520px;
  position: fixed;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
  top: 0;
  right: 0;
  box-sizing: border-box;
}

.navigation__item {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  transition: opacity 0.3s ease-in-out;
  align-self: center;
}

.navigation__item:hover {
  opacity: 0.6;
}

.navigation__item_active {
  font-weight: 500;
}

.navigation__item_active-column {
  padding-bottom: 4px;
  border-bottom: 2px solid #000;
}

.navigation__item_type_login {
  width: 76px;
  padding: 8px 20px;
  background-color: #3456f3;
  border-radius: 3px;
  color: #fff;
  margin-left: 30px;
  box-sizing: border-box;
}

.navigation__auth-container {
  display: flex;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  margin-left: auto;
}

.navigation__inner-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navigation__inner-container_type_column {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, max-content) 1fr;
}

.navigation__films-container {
  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(2, max-content);
  font-size: 13px;
  line-height: 1.21;
  font-weight: 400;
}

.navigation__films-container_type_column {
  grid-template-columns: unset;
  justify-items: center;
  row-gap: 28px;
  font-size: 18px;
  font-weight: 500;
  padding-top: 105px;
}

.navigation__account-container {
  display: grid;
  column-gap: 13px;
  grid-template-columns: repeat(2, max-content);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
}

.navigation__account-container_type_column {
  justify-self: center;
  align-content: end;
  align-self: end;
}

.header__place_not-main {
  justify-content: flex-start;
}

.navigation__btn-menu {
  width: 28px;
  height: 23px;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.25s;
  display: none;
  align-self: center;
  margin-right: 8px;
  position: relative;
  box-sizing: border-box;
}

.navigation__btn-menu:hover {
  opacity: 0.4;
}

.navigation__burger-line {
  background-color: #000;
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  box-sizing: border-box;
}

.navigation__burger-line:nth-child(1) {
  top: 0;
}

.navigation__burger-line:nth-child(2) {
  top: 10px;
}

.navigation__burger-line:nth-child(3) {
  top: 20px;
}

@media screen and (max-width: 918px) {
  .navigation__container_inactive {
    display: none;
    opacity: 0;
  }
  .navigation__btn-menu {
    display: flex;
    margin-left: auto;
  }
  .navigation__btn-menu_inactive {
    position: absolute;
    top: 20px;
    right: 17px;
    width: 18px;
  }

  .navigation__btn-menu_inactive .navigation__burger-line:nth-child(1) {
    top: 10px;
    transform: rotate(135deg);
  }
  .navigation__btn-menu_inactive .navigation__burger-line:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  .navigation__btn-menu_inactive .navigation__burger-line:nth-child(2) {
    top: 10px;
    transform: rotate(-135deg);
  }
}

@media screen and (max-width: 520px) {
  .navigation__container_type_column {
    row-gap: 24px;
    padding: 13px 13px 48px;
  }
  .navigation__item_active-column {
    padding-bottom: 7px;
  }
  .navigation__btn-menu {
    width: 22px;
    height: 21px;
    margin-right: 9px;
  }

  .navigation__btn-menu_inactive {
    position: absolute;
    top: 13px;
    right: 8px;
    width: 18px;
  }

  .navigation__burger-line {
    height: 2.5px;
  }
  .navigation__burger-line:nth-child(2) {
    top: 8px;
    height: 2.5px;
  }
  .navigation__burger-line:nth-child(3) {
    top: 16px;
    height: 2.5px;
  }
}

@media screen and (max-height: 520px) {
  .navigation__films-container_type_column {
    padding-top: 45px;
  }
  .navigation__container_type_column {
    row-gap: 24px;
    padding-bottom: 26px;
  }
}
