.success-popup {
  visibility: hidden;
  opacity: 0;
  transition: all .35s ease-in-out;
  display: flex;
  background-color: #2BE080;
  border-radius: 10px;
  border: 3px solid #fff;
  color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  width: 100%;
  align-self: flex-start;
  justify-content: center;
  box-sizing: border-box;
}

.success-popup_opened {
  visibility: visible;
  opacity: 0.9;
  margin: 0;
}

.success-popup__title {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.21;
  margin: 0;
  padding: 0;
}

@media screen and (max-height: 350px) {

  .success-popup {
    max-width: 300px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .success-popup_opened {
    opacity: 0.7;
  }
  .error-popup__title {
    font-size: 10px;
  }
}
