.techs {
  padding: 100px 70px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1280px;
}

.techs__title {
  padding-top: 90px;
  padding-bottom: 26px;
  letter-spacing: -0.04em;
}

.techs__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  max-width: 460px;
  letter-spacing: -0.04em;
  margin: 0;
  padding-bottom: 100px;
  text-align: center;
}

.techs__container {
  width: 100%;
  justify-content: center;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(90px, max-content));
  list-style: none;
  margin: 0;
  padding: 0;
}

.techs__item {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400px;
  line-height: 1.21;
  letter-spacing: -0.04em;
  display: flex;
  justify-content: center;
  background-color: #e8e8e8;
  border-radius: 10px;
  position: relative;
  top: -40px;
  left: -100px;
  visibility: hidden;
  opacity: 0;
}
.techs__item:nth-child(1) {
  transition: all 0.3s ease-in-out 0.2s;
}

.techs__item:nth-child(2) {
  transition: all 0.3s ease-in-out 0.3s;
}

.techs__item:nth-child(3) {
  transition: all 0.3s ease-in-out 0.4s;
}

.techs__item:nth-child(4) {
  transition: all 0.3s ease-in-out 0.5s;
}

.techs__item:nth-child(5) {
  transition: all 0.3s ease-in-out 0.6s;
}

.techs__item:nth-child(6) {
  transition: all 0.3s ease-in-out 0.7s;
}

.techs__item:nth-child(7) {
  transition: all 0.3s ease-in-out 0.8s;
}

.techs__item:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(52, 86, 243, 0.7);
}

.techs__item_active {
  left: 0;
  top: 0;
  visibility: visible;
  opacity: 1;
}

.techs__link {
  width: 100%;
  padding: 21px 12px 22px;
  color: #000;
  text-decoration: none;
  text-align: center;
}

@media screen and (max-width: 918px) {
  .techs {
    padding: 90px 50px;
  }
  .techs__title {
    padding-top: 78px;
    padding-bottom: 21px;
    font-size: 50px;
  }
  .techs__text {
    font-size: 12px;
    line-height: 1.5;
    padding-bottom: 83px;
  }
  .techs__item {
    font-size: 12px;
    min-width: 84px;
  }
  .techs__container {
    grid-template-columns: repeat(auto-fit, minmax(84px, max-content));
  }
}

@media screen and (max-width: 520px) {
  .techs {
    padding: 70px 18px;
  }
  .techs__title {
    padding-top: 60px;
    padding-bottom: 24px;
    font-size: 30px;
  }
  .techs__text {
    font-size: 11px;
    line-height: 1.45;
    padding-bottom: 50px;
  }
  .techs__container {
    padding: 0 10px 0;
    box-sizing: border-box;
  }
}
