.header {
  padding: 0 70px;
  min-height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 1280px;
  position: relative;
  z-index: 2;
}

.header_place_auth {
  max-width: 396px;
  padding: 70px 0 0;
}

.header__logo-link {
  transition: opacity .3s ease-in-out;
}

.header__logo-link:hover {
  opacity: 0.6;
}

.header__logo-image {
  margin: 0 20px 0 0;
  width: 38px;
  height: 38px;
  display: flex;
  object-fit: contain;
  object-position: center;
}

.header__logo-image_place_auth {
  margin: 0;
}


@media screen and (max-width: 918px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
  .header_place_auth {
    padding: calc(232 * 100vh / 1024) 0 0;
  }
}

@media screen and (max-width: 520px) {
  .header {
    padding-left: 14px;
    padding-right: 14px;
  }
  .header_place_auth {
    padding: 56px 0 0;
    justify-content: center;
  }
  .header__logo-link_place_auth {
    display: flex;
    width: 100%;
  }
}

@media screen and (max-height: 350px) {
  .header_place_auth {
    padding-top: 10px;
    min-height: unset;
  }
  .header {
    min-height: 56px;
  }
}
