.register {
  display: flex;
  flex-direction: column;
  padding: 40px 0 70px;
  max-width: 396px;
  box-sizing: border-box;
  height: calc(100vh - 108px);
}

.register__title {
  font-size: 24px;
  line-height: 1.21;
  font-weight: 500;
  padding-bottom: 40px;
  margin: 0;
}

.register__container {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: center;
}

.register__text {
  color: #A0A0A0;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  margin: 0 6px 0 0;
}

.register__signin {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  color: #3456F3;
  text-decoration: none;
  transition: opacity .3s ease-in-out;
}

.register__signin:hover {
  opacity: 0.6;
}


@media screen and (max-width: 918px) {
  .register {
    padding-top: 40px;
    padding-bottom: calc(232 * 100vh / 1024);
    height: calc(100vh - 38px - (232 * 100vh / 1024));
  }
}

@media screen and (max-width: 520px) {
  .register {
    padding: 50px 30px 30px;
    height: calc(100vh - 38px - 56px);
  }
  .register__title {
    padding-bottom: calc(80 * 100vh / 1024);
    text-align: center;
  }
  .register__text {
    font-size: 12px;
  }
}