.footer {
  box-sizing: border-box;
  max-width: 1280px;
  padding: 79px 70px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  line-height: 1.21;
  font-weight: 400;
}

.footer__text {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: #a0a0a0;
  border-bottom: 1px solid #e8e8e8;
  margin: 0 0 20px;
}

.footer__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__copyrights {
  margin: 0;
  color: #a0a0a0;
}

.footer__socials {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  align-self: end;
}

.footer__social {
  margin: 0;
}

.footer__social-link {
  transition: opacity 0.3s ease-in-out;
  color: #000;
  text-decoration: none;
}

.footer__social-link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 918px) {
  .footer {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 520px) {
  .footer {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 12px;
  }
  .footer__text {
    padding-bottom: 21px;
    margin-bottom: 30px;
  }
  .footer__socials {
    grid-template-columns: unset;
    justify-items: center;
    row-gap: 12px;
    padding-bottom: 30px;
  }
  .footer__container {
    flex-direction: column-reverse;
    width: unset;
    align-items: center;
  }
}

@media screen and (max-height: 520px) {
  .footer {
    padding-top: 40px;
  }
}
