.form-title {
  font-size: 24px;
  line-height: 1.21;
  font-weight: 500;
  margin: 0;
  padding-bottom: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.form-title_place_profile {
  text-align: center;
  padding-bottom: 123px;
}

@media screen and (max-width: 918px) {
  .form-title_place_profile {
    padding-bottom: 96px;
  }
}

@media screen and (max-width: 530px) {
  .form-title {
    padding-bottom: 80px;
    text-align: center;
  }
  .form-title_place_profile {
    padding-bottom: 80px;
  }
}

@media screen and (max-height: 570px) {
  .form-title {
    padding-bottom: 35px;
  }
  .form-title_place_profile {
    font-size: 20px;
  }
}
