.form-title {
  font-size: 24px;
  line-height: 1.21;
  font-weight: 500;
  margin: 0;
  padding-bottom: 40px;
}

.form-title_place_profile {
  text-align: center;
  padding-bottom: 123px;
}

@media screen and (max-width: 918px) {
  .form-title_place_profile {
    padding-bottom: calc(96 * 100vh / 1024);
  }
}

@media screen and (max-width: 520px) {
  .form-title {
    padding-bottom: calc(80 * 100vh / 780);
    text-align: center;
  }
  .form-title_place_profile {
    padding-bottom: calc(80 * 100vh / 780);
  }
}
