.about-me {
  padding: 110px 70px 100px;
  box-sizing: border-box;
  max-width: 1280px;
}

.about-me__outer-container {
  display: flex;
  justify-content: space-between;
  padding-top: 66px;
}

.about-me__container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, max-content) 1fr;
  max-width: 600px;
  margin-right: 49px;
}

.about-me__title {
  padding-bottom: 18px;
  line-height: 1;
}

.about-me__profession-age {
  font-size: 18px;
  line-height: 1.11;
  font-weight: 500;
  margin: 0;
}

.about-me__text {
  margin: 0;
  padding-top: 26px;
  font-size: 14px;
  line-height: 1.57;
  font-weight: 400;
}

.about-me__socials {
  display: grid;
  grid-template-columns: repeat(2,max-content);
  column-gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  align-self: end;
}

.about-me__social {
  margin: 0;
}

.about-me__social-link {
  transition: opacity .3s ease-in-out;
  color: #000;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 500;
  text-decoration: none;
}

.about-me__social-link:hover {
  opacity: 0.6;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

@media screen and (max-width: 918px) {
  .about-me {
    padding: 90px 50px;
  }
  .about-me__title {
    padding-bottom: 16px;
  }
  .about-me__profession-age {
    font-size: 12px;
    line-height: 1.5;
  }

  .about-me__text {
    padding-top: 20px;
    font-size: 12px;
    line-height: 1.5;
  }
  .about-me__photo {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 740px) {
  .about-me__title {
    padding-bottom: 20px;
  }
  .about-me__profession-age {
    font-size: 11px;
    line-height: 1.45;
  }
  .about-me__text {
    padding-top: 20px;
    font-size: 11px;
    line-height: 1.45;
  }
}

@media screen and (max-width: 660px) {

  .about-me__title {
    padding-top: 40px;
  }
  .about-me__socials {
    column-gap: 26px;
  }
  .about-me__photo {
    width: 292px;
    height: 352px;
  }
  .about-me__text {
    padding-bottom: 40px;
  }
  .about-me__outer-container {
    flex-direction: column-reverse;
    padding-top: 40px;
  }
}

@media screen and (max-width: 520px) {
  .about-me {
    padding: 70px 14px;
  }
}

@media screen and (max-width: 320px) {
  .about-me__photo {
    width: 100%;
  }
}
