.login {
  display: flex;
  max-width: 396px;
  box-sizing: border-box;
  min-height: calc(100% - 108px);
}

@media screen and (max-width: 918px) {
  .login {
    min-height: calc(100% - 38px - 232px);
  }
}

@media screen and (max-width: 520px) {
  .login {
    min-height: calc(100% - 38px - 56px);
  }
}

@media screen and (max-height: 760px) {
  .login {
    min-height: calc(100% - 38px - 56px);
  }
}